*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f1f1f1;
}

body{
    background-color: #121212;      
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    margin: 30px;
    color: #ffffff;
}

h4{
    padding-top: 0px;
    margin: 0%;
    margin-bottom: 2px;
    text-align: left;
}

p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:xx-small;
    padding-top: 0px;
    margin-top: 0;
    text-align: left;
}

/* Container */
.card-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    margin: auto;
}

/* Text Area Box */
.text-area{
    width: 80%;
    height: 75vh;
    background-color: #1e1e1e;     
    border: 1px solid #333;       
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);  
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
}

/* Text Editor */
#text-editor{
    width: 95%;
    height: 80%;
    border-radius: 15px;
    padding: 20px;
    background-color: #2b2b2b;   
    border: 1px solid #444;
    color: #fff;
    resize: none;
    outline: none;
}

button{
    background-color: #2b2b2b;   
    border: 1px solid #1e1e1e;
    color: #fff;
    width: 20vh;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
}

button:hover{
    background-color:#777;
    border-color:#444;
    color: #121212;
    transition: all 0.3s ease;
    transform: translateY(-2px);
}

/* Version History */
.version-history{
    width: 30%;
    height: 75vh;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.version-box {
    border: 2px solid #333;  
    padding: 10px;            
    margin-bottom: 10px;    
    border-radius: 10px;   
    background-color: #2b2b2b;    
}


/* When screen width is less than 900px */
@media (max-width: 900px) {
    .card-container{
        flex-direction: column;
        align-items: center;
    }

    .text-area{
        width: 90%;
        height: 50vh;
    }

    .version-history{
        width: 90%;
        height: 20vh;
    }
}

/* Scrollbar styling */
.version-history::-webkit-scrollbar,
#text-editor::-webkit-scrollbar {
    width: 8px;
}

.version-history::-webkit-scrollbar-thumb,
#text-editor::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.version-history::-webkit-scrollbar-thumb:hover,
#text-editor::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
